body{
    font-family: sans-serif;
    font-size: 16px;
}

#gallery{
    display:flex;
    margin:auto;
    width:fit-content;
}
img {
    max-width:250px;
    position:relative;
    float:left;
    margin:10px;
}
.nav > a{
    position:relative;
    float:left;
    list-style:none;
    margin-right:5px;
    margin-bottom:10px;
}

.row{
    display:flex;
}

.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.contact-form{
    margin: 0 auto;
    width: 60%;
}

.contact-form input[type="text"]{
    background-color: #f5f5f5;
    outline: none;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100%;
    margin: 5px 10%;
    padding: 0 15px;
}

/* Modal */

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 33%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    display:grid;
  }

  .modalSlides {
    height: 50vh;
    position: relative;
    display: flex;
    align-items: center;
}

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
    margin: 0 auto;
    width: fit-content;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  